@model Chat.FrontWeb.Areas.Admin.Models.Finance.BonusListModel
@{
    ViewBag.Title = "奖金明细";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<div class="subBody">
    <div class="box_con">

        <div class="box box_width">
            <div class="operation">
                <fieldset class="fieldset">
                    <legend class="legSearch">查询</legend>
                    代理编号：<input type="text" class="input_select" id="txtusercode" placeholder="输入代理编号" />
                    代理姓名：<input type="text" class="input_select" id="txttruename" placeholder="输入代理姓名" />
                    奖金类别：
                    @Html.DropDownList("dropbonustype", ViewBag.bonustype as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    日期：<input type="text" class="input_select" id="txtstart" onfocus="WdatePicker()" placeholder="输入日期" />
                    至 <input type="text" class="input_select" id="txtend" onfocus="WdatePicker()" placeholder="输入日期" />
                      <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" id="search">搜 索</a>
                </fieldset>
            </div>
            <div class="dataTable">
                <table width="99%" border="0" cellspacing="0" cellpadding="0" class="t1">
                    <thead>
                        <tr>
                            <th>代理编号</th>
                            <th>代理姓名</th>
                            <th>奖项名称</th>
                            <th>奖金</th>
                            <th>扣税</th>
                            <th>实发</th>
                            <th>描述</th>
                            <th>发放日期</th>
                            <th>结算日期</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody id="pagerList">
                        @foreach (var rmodel in Model.bonusList)
                        {
                            <tr>
                                <td align="center">@rmodel.UserCode </td>
                                <td align="center">@rmodel.TrueName </td>
                                <td align="center">@rmodel.TypeName </td>
                                <td align="center">@rmodel.Amount </td>
                                <td align="center">@rmodel.Revenue </td>
                                <td align="center">@rmodel.Sf </td>
                                <td align="center">@rmodel.Source </td>
                                <td align="center">@rmodel.AddTime </td>
                                <td align="center">@rmodel.SttleTime </td>
                                <td align="center">@rmodel.SettleName </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="nextpage cBlack">
                    @Html.Raw(Model.Page)
                </div>
            </div>
        </div>
    </div>
</div>
@section FooterScript{
    <script type="text/javascript">
        function getPage(pageIndex) {
            $.ajax({
                url: "/admin/finance/bonusList?pageindex=" + pageIndex,
                type: "post",
                success: function (result) {
                    $(".nextpage").empty();
                    $(".nextpage").append(result.data.page);
                    $("#pagerList").empty();
                    $("#pagerList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    var html = template('bonusList', { bonusList: result.data.bonusList });
                    $("#pagerList").append(html);
                    $.parser.parse($('#pagerList'));
                },
                error: function () { alert("网络错误"); }
            });
        }
        //搜索
        $(function () {
            $("#search").click(function () {
                var usercode = $("#txtusercode").val();
                var truename = $("#txttruename").val();
                var type = $("#dropbonustype option:selected").val();
                var start = $("#txtstart").val();
                var end = $("#txtend").val();
                $.ajax({
                    url: "/admin/finance/bonusList",
                    type: "post",
                    data: { usercode: usercode, truename: truename, type: type, start: start, end: end },
                    success: function (result) {
                        $(".nextpage").empty();
                        $(".nextpage").append(result.data.page);
                        $("#pagerList").empty();
                        $("#pagerList").append('<input type="hidden" id="index" value="1" />');
                        if (result.data.page != "") {
                            var html = template('bonusList', { bonusList: result.data.bonusList });
                            $("#pagerList").append(html);
                            $.parser.parse($('#pagerList'));
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            })
        })
    </script>
    <script id="bonusList" type="text/html">
        {{each bonusList as bonus}}
        <tr>
            <td align="center">{{bonus.userCode}}</td>
            <td align="center">{{bonus.trueName}}</td>
            <td align="center">{{bonus.typeName}}</td>
            <td align="center">{{bonus.amount}}</td>
            <td align="center">{{bonus.revenue}}</td>
            <td align="center">{{bonus.sf}}</td>
            <td align="center">{{bonus.source}}</td>
            <td align="center">{{bonus.addTime}}</td>
            <td align="center">{{bonus.sttleTime}}</td>
            <td align="center">{{bonus.settleName}}</td>
        </tr>
        {{/each}}
    </script>
}

