@model Chat.FrontWeb.Areas.Admin.Models.Finance.JournalListModel
@{
    ViewBag.Title = "奖金明细";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<div class="subBody">
    <div class="box_con">

        <div class="box box_width">
            <div class="operation">
                <fieldset class="fieldset">
                    <legend class="legSearch">查询</legend>
                    代理编号：<input type="text" class="input_select" id="txtusercode" placeholder="输入代理编号" />
                    代理姓名：<input type="text" class="input_select" id="txttruename" placeholder="输入代理姓名" />
                    币种：
                    @Html.DropDownList("dropcurrencytype", ViewBag.currency as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    日期：<input type="text" class="input_select" id="txtstart" onfocus="WdatePicker()" placeholder="输入日期" />
                    至 <input type="text" class="input_select" id="txtend" onfocus="WdatePicker()" placeholder="输入日期" />
                      <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" id="search">搜 索</a>
                </fieldset>
            </div>
            <div class="dataTable">
                <table width="99%" border="0" cellspacing="0" cellpadding="0" class="t1">
                    <thead>
                        <tr>
                            <th>代理编号</th>
                            <th>代理姓名</th>
                            <th>币种</th>
                            <th>收入</th>
                            <th>支出</th>
                            <th>余额</th>
                            <th>描述</th>
                            <th>日期</th>
                        </tr>
                    </thead>
                    <tbody id="pagerList">
                        @foreach (var rmodel in Model.journalList)
                        {
                            <tr>
                                <td align="center">@rmodel.UserCode </td>
                                <td align="center">@rmodel.TrueName </td>
                                <td align="center">@rmodel.CurrencyName </td>
                                <td align="center">@rmodel.InAmount </td>
                                <td align="center">@rmodel.OutAmount </td>
                                <td align="center">@rmodel.BalanceAmount </td>
                                <td align="center">@rmodel.Remark </td>
                                <td align="center">@rmodel.JournalDate </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="nextpage cBlack">
                    @Html.Raw(Model.Page)
                </div>
            </div>
        </div>
    </div>
</div>
@section FooterScript{
    <script type="text/javascript">
        function getPage(pageIndex) {
            $.ajax({
                url: "/admin/finance/journalList?pageindex=" + pageIndex,
                type: "post",
                success: function (result) {
                    $(".nextpage").empty();
                    $(".nextpage").append(result.data.page);
                    $("#pagerList").empty();
                    $("#pagerList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    var html = template('journalList', { journalList: result.data.journalList });
                    $("#pagerList").append(html);
                    $.parser.parse($('#pagerList'));
                },
                error: function () { alert("网络错误"); }
            });
        }
        //搜索
        $(function () {
            $("#search").click(function () {
                var usercode = $("#txtusercode").val();
                var truename = $("#txttruename").val();
                var type = $("#dropcurrencytype option:selected").val();
                var start = $("#txtstart").val();
                var end = $("#txtend").val();
                $.ajax({
                    url: "/admin/finance/journalList",
                    type: "post",
                    data: { usercode: usercode, truename: truename, type: type, start: start, end: end },
                    success: function (result) {
                        $(".nextpage").empty();
                        $(".nextpage").append(result.data.page);
                        $("#pagerList").empty();
                        $("#pagerList").append('<input type="hidden" id="index" value="1" />');
                        if (result.data.journalList != "") {
                            var html = template('journalList', { journalList: result.data.journalList });
                            $("#pagerList").append(html);
                            $.parser.parse($('#pagerList'));
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            })
        })
    </script>
    <script id="journalList" type="text/html">
        {{each journalList as temp}}
        <tr>
            <td align="center">{{temp.userCode}}</td>
            <td align="center">{{temp.trueName}}</td>
            <td align="center">{{temp.currencyName}}</td>
            <td align="center">{{temp.inAmount}}</td>
            <td align="center">{{temp.outAmount}}</td>
            <td align="center">{{temp.balanceAmount}}</td>
            <td align="center">{{temp.remark}}</td>
            <td align="center">{{temp.journalDate}}</td>
        </tr>
        {{/each}}
    </script>
}

