@model Chat.FrontWeb.Models.Member.LeaveWordsDetailModel

@{
    ViewBag.Title = "留言详情";
    Layout = "~/Views/Share/_Layout2.cshtml";
}
<script type="text/javascript" language="javascript">


    function Submit() {

        var Context = $.trim($("#txtPubContext").val());
        var Id = $.trim($("#hid").val());
         $.ajax({
             url: '/Message/LeaveWordsContext',
             type: "post",
            
             data: { Id: Id, Context: Context },
            success: function (result) {
                if (result.status == "1") {
                    window.location.href = result.data;
                }
                else {
                    alert(result.msg);
                }
            },
            error: function () { alert("网络错误"); }
        });

    }
    function Return() {
            ` `

        $.ajax({
            url: '/Message/LeaveWordsDetail',

        });

    }
</script>
<div class="page-heading">
    <i class="fa fa-bar-chart-o"></i>留言详情
</div>

<div class="wrapper">
    <section class="panel">
        <!--主体开始-->
        <section style="padding: 28px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <input type="hidden" id="hid" value="@Model.data.ID" />
                            <h3 class="panel-title">信件名称：@Model.data.MsgTitle</h3>
                        </div>
                        <div class="widget-body innerAll overthrow" style="padding: 20px;overflow: auto;">
                            <div>发件人：@Model.data.UserCode</div>
                            <div>时间：@Model.data.LeaveTime</div>
                            @Model.data.MsgContent
                            <div class="tiles white" style="margin-top: 50px;">
                                <div class="tiles-body">
                                    <div class="tiles-title" style="padding-bottom: 15px;"> 回复信息 </div>
                                   @foreach (var rmodel in Model.leaveReMsgList)
                                   {
                                            <div class="notification-messages info" style="padding: 20px 0; border-top: 1px solid #eee;">
                                                <div class="message-wrapper" style="display: inline-block; vertical-align: top;">
                                                    <div class="heading">@rmodel.UserCode</div>
                                                    <div class="description">@rmodel.ReContent</div>
                                                </div>
                                                <div class="date pull-right">@rmodel.ReTime</div>
                                                <div class="clearfix"></div>
                                            </div>
                                   }
                                  
                                </div>
                                <div class="nextpage">
                                    @Html.Raw(Model.Page)
                                </div>

                            </div>

                            <div class="form-group" style="margin-top: 30px;">
                                <label class="form-label">回复留言	</label>
                                <div class="controls">
                                    <textarea id="txtPubContext" Height="127px" Width="100%" CssClass="form-control"></textarea>
                                </div>
                            </div>
                            <div class="text-center">
                                <input id="btn_s1" class="btn btn-primar" iconcls="icon-ok" value="发 送" onclick="Submit()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--./主体开始-->
    </section>
</div>
@section FooterScript{
    <script type="text/javascript">
        function getPage(pageIndex) {
            $.ajax({
                url: "/Message/LeaveWordsDetail?pageindex=" + pageIndex,
                type: "post",
                success: function (result) {
                    $(".nextpage").empty();
                    $(".nextpage").append(result.data.page);
                    $("#pagerList").empty();
                    $("#pagerList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    var html = template('leaveReMsgList', { leaveReMsgList: result.data.leaveReMsgList });
                    $("#pagerList").append(html);
                },
                error: function () { alert("网络错误"); }
            });
        }


    </script>
    <script id="leaveReMsgList" type="text/html">


        //template js模板
        {{each leaveReMsgList as rmodel}}

        <h2 class="cGold ico_admin">
            {{rmodel.userCode}}  {{rmodel.reTime}}
        </h2>
        <p>
        </p>
        <p class="cRed">
            {{rmodel.reContent}}
        </p>


        {{/each}}
    </script>
}
