@model Chat.FrontWeb.Areas.Admin.Models.Team.UserProView
@{
    ViewBag.Title = "ProcLevel";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    
}    

<div class="operation">
    <fieldset class="fieldset">
        <legend class="legSearch">会员升级</legend>
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="360px;">
                    会员编号:<input id="usercode" type="text" class="input_select" onchange="onchUser()"/>
                    当前级别:&nbsp;<input name="jb" type="text" id="txtLevel" disabled="disabled" class="input_select" />
                </td>
                <td>
                    修改级别:@Html.DropDownList("levelName", new SelectList(ViewBag.LeveModelList, "LevelID", "LevelName", "--请选择--"), new { htmlAttributes = new { @class = "form-control" } })
                    <input type="button" id="submit" class="btn btn-primary" value="提 交" onclick="onSubmit()" />
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legSearch">查询</legend>
        会员编号:<input id="usercode" type="text" class="input_select" />
        <input type="button" id="submit" class="btn btn-primary" value="搜 索"/>
    </fieldset>
</div>
<div class="dataTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
        <thead>
            <tr>

                <th>
                    会员编号
                </th>
                <th>
                    会员姓名
                </th>
                <th>
                    升级前级别
                </th>
                <th>
                    升级后级别
                </th>
                <th>
                    所需金额
                </th>
                <th>
                    升级日期
                </th>
                <th>
                    确认升级
                </th>
            </tr>
        </thead>
        <tbody id="pagerList">
            @foreach (var item in Model.UserProViewList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndLevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProMoney)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td> 
                    <td>
                        <input type="button" class="btn btn-primary" value="确认"/>
                    </td>
                </tr>
                <tr id="trNull" hidden="hidden">
                    <td colspan="4" align="center"><div class="NoData"><span class="cBlack"> <img src="/Areas/Admin/Content/Images/ico_NoDate.gif" width="16" height="16" /> 抱歉！目前数据库暂无数据。</span></div></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="nextpage">
        
    </div>
</div>

<script>
    $(".nextpage").PageGrivView({
        totalPage:@Model.showPageNum,
        showPageNum:@Model.totalPage,
        url: "/Admin/Team/ProcLevel",
        obj: ".t1",
        css: "css-1"/**css-1到css-5**/

    });
        function onchUser() {
            var code = $("#usercode").val();
            if (code != "") {
                $.ajax({
                    type: 'POST',
                    url: "/Admin/Team/GetUseLevelName?code=" + code,
                    dataType: 'text',
                    async: false,
                    success: function (responseData) {
                        if (responseData == "会员不存在") {
                            $("#usercode").val("");
                            alert(responseData);
                        } else { $("#txtLevel").val(responseData); }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {//请求失败处理函数
                        console.log("请求失败");
                    }
                });
            }
        }
        function onSubmit() {
            var code = $("#usercode").val();
            var levelID = $("#levelName").val();
            if (code != "") {
                $.ajax({
                    type: 'POST',
                    url: "/Admin/Team/ProUserLevel?code=" + code + "&leveID=" + levelID,
                    dataType: 'json',
                    async: false,
                    success: function (responseData) {
                        if (responseData.Status == 1) {
                            //$("#usercode").val("");
                            location.reload();
                            alert(responseData.msg);
                            // window.location.reload();
                        } else {
                            alert(responseData.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {//请求失败处理函数
                        console.log("请求失败");
                    }
                });
            } else {
                alert("请输入要升级的会员");
            }
        }
</script>


