@model Chat.FrontWeb.Areas.Admin.Models.Member.MemberListViewModel
@{
    ViewBag.Title = "个人资料";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
} 
 <div class="box box_width">
    <div class="dataTable">
        <fieldset class="fieldset">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="">
                <tr>
                    <td width="200" align="right">
                        <h1>
                            登录资料：<input  type="hidden" id="ID" value="@Model.MemberList.First().ID"/>
                        </h1>
                    </td>
                    <td align="left"></td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>会员编号：
                    </td>
                    <td align="left">
                        <input name="txtUserCode" type="text" id="txtUserCode" value="@Model.MemberList.First().UserCode"   class="input_reg" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>登陆密码：
                    </td>
                    <td align="left">
                        <input name="txtPassword" type="text" id="txtPassword" value="*********"  class="input_reg" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>二级密码：
                    </td>
                    <td align="left">
                        <input name="txtSecondPassword" type="text" id="txtSecondPassword"  value="*********"   class="input_reg"
                               disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right"></td>
                    <td align="left"></td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <h1>
                            网络资料：
                        </h1>
                    </td>
                    <td align="left"></td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>会员级别：
                    </td>
                    <td align="left">
                        <input name="txtLevel" type="text" id="txtLevel"   value="@Model.MemberList.First().LevelName"  class="input_reg" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>注册金额：
                    </td>
                    <td align="left">
                        <input name="txtRegMoney" type="text" id="txtRegMoney" value="@Model.MemberList.First().RegMoney"  disabled="disabled"
                               class="input_reg1" />
                    </td>
                </tr>  
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>推荐会员编号：
                    </td>
                    <td align="left">
                        <input name="txtRecommendCode" type="text" id="txtRecommendCode"  value="@Model.MemberList.First().RecommendCode"  class="input_reg"
                               disabled="disabled" /> 
                    </td>
                </tr>
                <tr >
                    <td width="200" align="right">
                        <span class="cRed">*</span>安置代理编号：
                    </td>
                    <td align="left">
                        <input name="txtParentCode" type="text" id="txtParentCode"   value="@Model.MemberList.First().ParentCode"   class="input_reg"
                               disabled="disabled" />
                    </td>
                </tr>
                <tr >
                    <td width="200" align="right">
                        <span class="cRed">*</span>注册区域：
                    </td>
                    <td align="left">
                        <input id="Radio1" type="radio" name="qy" checked="@(Model.MemberList.First().Location ==1)"   disabled="disabled" />
                        A区&nbsp;&nbsp;&nbsp;&nbsp;

                        <input id="Radio2" type="radio" name="qy" checked="@(Model.MemberList.First().Location ==2)"  disabled="disabled" />
                        B区
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right"></td>
                    <td align="left"></td>
                </tr>
                <tr style="display: none">
                    <td width="200" align="right">
                        <h1>银行资料：</h1>
                    </td>
                    <td align="left">


                    </td>
                </tr>
                <tr style="display: none"> 
                    <td width="200" align="right">
                        <span class="cRed">*</span>开户银行：
                    </td>
                    <td align="left">
                        <asp:DropDownList ID="dropBank"  >
                        </asp:DropDownList>
                        <asp:DropDownList ID="dropProvince"  >
                        </asp:DropDownList>
                    </td>
                </tr>
                <tr style="display: none">
                    <td width="200" align="right">
                        <span class="cRed">*</span>银行支行：
                    </td>
                    <td align="left">
                        <input name="txtBankBranch" type="text" id="txtBankBranch" value="@Model.MemberList.First().BankBranch"   class="input_reg" />
                    </td>
                </tr>
                <tr style="display: none">
                    <td width="200" align="right">
                        <span class="cRed">*</span>银行账户：
                    </td>
                    <td align="left">
                        <input name="txtBankAccount" type="text" id="txtBankAccount"  value="@Model.MemberList.First().BankAccount"  class="input_reg"
                               value="" maxlength="19" />
                    </td>
                </tr>
                <tr style="display: none">
                    <td width="200" align="right">
                        <span class="cRed">*</span>开户名：
                    </td>
                    <td align="left">
                        <input name="txtBankAccountUser" type="text" id="txtBankAccountUser"  value="@Model.MemberList.First().BankAccountUser"  class="input_reg" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right"></td>
                    <td align="left"></td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <h1>基本资料：</h1>
                    </td>
                    <td align="left"></td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>姓名：
                    </td>
                    <td align="left">
                        <input name="txtTrueName" type="text" id="txtTrueName" value="@Model.MemberList.First().TrueName"  maxlength="20"  class="input_reg" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        <span class="cRed">*</span>身份证号：
                    </td>
                    <td align="left">
                        <input name="txtIdenCode" type="text" id="txtIdenCode" value="@Model.MemberList.First().IdenCode"  maxlength="18"   class="input_reg" />
                    </td>
                </tr>
                <tr>
                    <td width="200" align="right">
                        联系电话：
                    </td>
                    <td align="left">
                        <input name="txtPhoneNum" type="text" id="txtPhoneNum"  value="@Model.MemberList.First().PhoneNum"  maxlength="11" class="input_reg" />
                    </td>
                </tr>   
                <tr>
                    <td width="200" align="right"></td>
                    <td align="left">
                        <input  ID="btnSubmit"  value="提 交" class="btn" type="button" />
                        <input ID="btnUpdatePwd" value="重置密码" class="btn"  type="button"  />
                        @*<asp:Button ID="btnSubmit"   Text="提 交" class="btn" OnClick="btnSubmit_Click" />
                          <asp:Button ID="btnUpdatePwd"   Text="重置密码" OnClientClick="javascript:return confirm('是否确定将密码重置为111111？')" class="btn" OnClick="btnUpdatePwd_Click" />
                        *@
                    </td>
                </tr>
            </table> 
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            if (confirm('确定要提交当前修改的资料吗？') == true) {
                var id = $("#ID").val();
                var txtTrueName = $("#txtTrueName").val();
                var txtIdenCode = $("#txtIdenCode").val();
                var txtPhoneNum = $("#txtPhoneNum").val();
                if (txtTrueName.length > 20) {
                    alert("名字长度过长");
                    return;
                }
                if (txtIdenCode.length > 18) {
                    alert("身份证长度过长");
                    return;
                }
                if (txtPhoneNum.length > 11) {
                    alert("手机长度过长");
                    return;
                }
               
                $.ajax({
                    url: "/admin/Member/PersonalData_UpdateData",
                    type: "post",
                    data: { id: id, txtTrueName: txtTrueName, txtIdenCode: txtIdenCode, txtPhoneNum: txtPhoneNum },
                    success: function (data) {
                        alert(data.msg);
                        window.location.href = data.data;
                    },
                    error: function () { alert("网络错误"); }
                })
            }
        })

    })
    $(function () {
        $("#btnUpdatePwd").click(function () { 
            if (confirm('确定修改密码为111111吗？') == true)
             {
                var id = $("#ID").val(); 
                $.ajax({
                    url: "/admin/Member/Update_Password?id=" + id + "",
                    type: "post", 
                    success: function (data) {
                        alert(data.msg);
                        window.location.href = data.data;
                    },
                    error: function () { alert("网络错误"); }
            })
            }
        })

    })
      



</script>

