@model Chat.FrontWeb.Areas.Admin.Models.Agent.AgentListViewModel
<div class="dataTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
        <thead>
            <tr>
                <th>会员编号</th>
                <th>开通日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="pagerList">
            @foreach (var user in Model.AgentListDTO)
            {
                <tr>

                    <td align="center">@user.AgentCode</td>
                    <td align="center">@user.OpenTime</td>
                    <td align="center">
                        <a></a>
                        @{if (user.Flag == 2)
                            {
                                <button class="easyui-linkbutton open" value="@user.ID" iconcls="icon-remove">解冻账户</button>
                            }
                        }
                        @{if (user.Flag == 1)
                            {
                                <button class="easyui-linkbutton close" value="@user.ID" iconcls="icon-edit">冻结账户</button>
                            }
                        } 
                    </td>
                </tr>
                            }
        </tbody>
    </table>
</div>
<div class="nextpage">
    @Html.Raw(Model.Page)
</div>