@model Chat.FrontWeb.Areas.Admin.Models.Member.MemberListViewModel
<div class="dataTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
        <thead>
            <tr>
                <th>会员编号</th>
                <th>姓名</th>
                <th>注册日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="pagerList">
            @foreach (var user in Model.MemberList)
            {
                <tr>
                    <td align="center">@user.UserCode</td>
                    <td align="center">@user.ID</td>
                    <td align="center">@user.CreateTime</td>
                    <td align="center">
                        <a></a>
                        <button class="easyui-linkbutton pass" value="@user.ID" iconcls="icon-edit">激活</button>
                        @*<a href="/admin/member/Pass?id=@user.ID"></a>*@
                        <button class="easyui-linkbutton del" value="@user.ID" iconcls="icon-remove">删除</button>
                        @*<a href="/admin/member/Del?id=@user.ID"></a>*@
                    </td>
                </tr>
            }
        </tbody> 
    </table>
</div>
<div class="nextpage">
    @Html.Raw(Model.Page)
</div>
