@model Chat.FrontWeb.Models.MemberLevel.MemberLevelListViewModel
@{
    ViewBag.Title = "会员升级";
    Layout = "~/Views/Share/_Layout2.cshtml";
}

<div class="wrapper">
    <section class="panel">
        <!--主体开始-->
        <section style="padding: 28px;">
            <div id='myform'>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    会员升级
                                </h3>
                            </div>
                            <div class="widget widget-body-white padding-none">
                                <div class="widget-body" style="padding: 20px; overflow: auto;">
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">当前等级</label>
                                            <div class="col-md-9">
                                                @Model.MemberListDTO.LevelName
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">选择要升级的等级</label>
                                            <div class="col-md-9"> 
                                                <select id="Level">
                                                    <option value="0">--请选择--</option>
                                                    @foreach (var item in Model.BlogCategory)
                                                    {
                                                        <option value="@item.LevelID">@item.LevelName</option>

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">所需金额</label>
                                            <div class="col-md-9">
                                                 <input id="jine" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <input  id="btn" type="button" value="确定" class="btn btn-primary" required /> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget-body innerAll overthrow col-md-12" style="padding: 20px; overflow: auto;">
                                        <table class="table table-bordered table-primary">
                                            <thead>
                                                <tr class="tac">
                                                    <th>会员编号</th>
                                                    <th>会员姓名</th>
                                                    <th>升级前级别</th>
                                                    <th>升级后级别</th>
                                                    <th>所需金额</th>
                                                    <th>升级日期</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model.UserPro)
                                                {
                                                    <tr>
                                                        <td align="center">@user.UserCode</td>
                                                        <td align="center">@user.TrueName</td>
                                                        <td align="center">@user.LastLevelName</td>
                                                        <td align="center">@user.EndLevelName</td>
                                                        <td align="center">@user.ProMoney</td>
                                                        <td align="center">@user.CreateTime</td>
                                                       
                                                    </tr>
                                                }


                                            </tbody>
                                           
                                        </table>
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script type="text/javascript">
    $(function () {
        $("#Level").change(function () {
            var checkText = $("#Level").find("option:selected").val();
            $.ajax({
                url: "/MemberLevel/MemberLevel_Change?id=" + checkText + "",
                type: "post",
                success: function (data) {
                    if (data.status == "0") { 
                        $("#jine").val("0元");
                        alert(data.msg);
                    }
                    else if (data.status == "1") { 
                        //alert(data.shengji.balance);
                        //$("#jine").val(data.data.shengji.balance);
                        document.getElementById("jine").value = data.data.shengji.balance+"元";
                    } 
                } 
            })
        })
    })
    $(function () {
        $("#btn").click(function () {
            var checkText = $("#Level").find("option:selected").val(); 
            $.ajax({
                url: "/MemberLevel/MemberLevel_btn?id=" + checkText + "",
                type: "post",
                success: function (data) {
                    if (data.status == "0" || data.status == "1") {
                        $("#jine").val("0元");
                        alert(data.msg);
                        window.location.href="/memberlevel/memberlevel";
                    }
                    else  { 
                        alert("升级错误！");
                    }
                }
            })


        })
    })
</script>
 
<script id="MemberList" type="text/html">
    @*//template js模板*@
    {{each memberList as User}}
    <tr>
        <td align="center">{{User.userCode}}</td>
        <td align="center">{{User.trueName}}</td>
        <td align="center">{{User.lastLevel}}</td>
        <td align="center">{{User.endLevel}}</td>
        <td align="center">{{User.proMoney}}</td>
        <td align="center">{{User.createTime}}</td> ]
       
    </tr>
    {{/each}}
</script>