@model Chat.FrontWeb.Areas.Admin.Models.Message.LeaveOutListModel
@{
    ViewBag.Title = "发件箱";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<div class="box_con">
    <div class="box box_width">
        <div class="operation">
            <a href="/admin/message/leaveIn" class="easyui-linkbutton" iconcls="icon-print" id="Inbox">收件箱</a>
            <a href="/admin/message/leaveOut" class="easyui-linkbutton" iconcls="icon-print" id="Hairbox">发件箱</a>
         </div>
        <div class="operation">
            <fieldset class="fieldset">
                <legend class="legSearch">查询</legend>
                收件人：
                <input id="textInCode" type="text" tip="输入收件人" class="input_select" />
                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" id="search">搜 索</a>
                <a href="javascript:void(0);" class="easyui-linkbutton del" iconcls="icon-no" id="Deleting">删 除</a>
                <a href="/admin/message/leavewords" class="easyui-linkbutton" iconcls="icon-print" id="Leaving">留 言</a>

            </fieldset>
        </div>
        <div class="dataTable">
            <table width="99%" border="0" cellspacing="0" cellpadding="0" class="t1">
                <thead>
                    <tr>
                        <th width="6%" align="center"><input type="checkbox" id="ckAllSend" value="全选"></th>
                        <th width="12%" align="center"><span class="ico_mail">发件人</span></th>
                        <th width="50%" align="center">主题内容</th>
                        <th width="18%" align="center"><span class="ico_mailSendTime">发送日期</span></th>
                        <th width="14%" align="center"><span class="ico_mailReTime">状态</span></th>
                    </tr>
                </thead>

                <tbody id="pagerList">
                    @foreach (var rmodel in Model.leaveoutList)
                    {
                        <tr>
                            <td align="center"><input type="checkbox" name="CheckBoxSend" id="CheckBoxSend" value='@rmodel.ID'/></td>
                            <td align="center">@rmodel.ToUserCode</td>
                            <td align="center"><a href="/admin/message/LeaveWordsDetail?id=@rmodel.ID&type=2" target="_self">@rmodel.MsgTitle</a></td>
                            <td align="center">@rmodel.LeaveTime</td>
                            <td align="center">@rmodel.IsReplyName</td>
                        </tr>
                    }
                </tbody>
               
            </table>
            <div class="nextpage">
                @Html.Raw(Model.Page)
            </div>
        </div>
    </div>
</div>
@section FooterScript{
    <script type="text/javascript">
        function getPage(pageIndex) {
            $.ajax({
                url: "/admin/message/leaveOut?pageindex=" + pageIndex,
                type: "post",
                success: function (result) {
                    $(".nextpage").empty();
                    $(".nextpage").append(result.data.page);
                    $("#pagerList").empty();
                    $("#pagerList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    var html = template('leaveoutList', { leaveoutList: result.data.leaveoutList });
                    $("#pagerList").append(html);
                },
                error: function () { alert("网络错误"); }
            });
        }
        //搜索
        $(function () {
            $("#search").click(function () {
                var usercode = $("#textInCode").val();
              
                $.ajax({
                    url: "/admin/message/leaveOut",
                    type: "post",
                    data: { usercode: usercode},
                    success: function (result) {
                        $(".nextpage").empty();
                        $(".nextpage").append(result.data.page);
                        $("#pagerList").empty();
                        $("#pagerList").append('<input type="hidden" id="index" value="1" />');
                        var html = template('leaveoutList', { leaveoutList: result.data.leaveoutList });
                        $("#pagerList").append(html);
                    },
                    error: function () { alert("网络错误"); }
                });
            })
        })
        
    </script>
    <script id="leaveoutList" type="text/html">
        //template js模板
        {{each leaveoutList as rmodel}}
        <tr>
            <td align="center"><input type="checkbox" name="CheckBoxSend" id="CheckBoxSend" value='{{rmodel.iD}}' /></td>
            <td align="center">{{rmodel.toUserCode}}</td>
            <td align="center"><a href="LeaveWordsDetail.aspx?id={{rmodel.iD}}&type=2" target="_self">{{rmodel.msgTitle}}</a></td>
            <td align="center">{{rmodel.leaveTime}}</td>
            <td align="center">{{rmodel.lsReplyName}}</td>
        </tr>
        {{/each}}
    </script>
}