@model Chat.FrontWeb.Areas.Admin.Models.Message.NoticeMabageListModel
@{
    ViewBag.Title = "NewTypeManage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}


<div class="box_con">
    <div class="box box_width">
        <div class="operation">
            <a href="/admin/message/noticeEdit" class="easyui-linkbutton" iconcls="icon-add" id="lbtnAdd">发布信息</a>
            &nbsp; &nbsp; &nbsp; 请输入新闻类型：<input type="text" id="NewType" maxlength="20" />
            <input type="button" id="NewAdd" class="easyui-linkbutton " iconcls="icon-ok" onclick="" value="提交" />
            <input type="button" id="NewDel" class="easyui-linkbutton " iconcls="icon-ok" hidden="hidden" onclick="" value="添加" />
        </div>
        <div class="dataTable">
            <table width="99%" border="0" cellspacing="0" cellpadding="0" class="t1">
                <thead>
                    <tr>
                        <th align="center">ID</th> 
                        <th align="center">类型</th>
                        <th align="center">日期</th>
                        <th align="center">操作</th>
                    </tr>
                </thead>
                <tbody id="pagerList">
                    @foreach (var rmodel in Model.NewsTypeList)
                    {
                        <tr>
                            <td align="center">@rmodel.ID</td>
                           
                            <td align="center">@rmodel.NewTypeName </td>
                            <td align="center">@rmodel.CreateTime</td>
                            <td align="center"> 
                                @*href="/Admin/Message/UpdTypeName?ID=@rmodel.ID&&Type=0"*@
                                <a class="easyui-linkbutton del" iconcls="icon-no" id="@rmodel.ID">删除</a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="nextpage">
                @Html.Raw(Model.Page)
            </div>
        </div>
    </div>
</div>
@section FooterScript{
    <script type="text/javascript">
        function getPage(pageIndex) {
            $.ajax({
                url: "/admin/message/NoticeEdit?pageindex=" + pageIndex,
                type: "post",
                success: function (result) {
                    $(".nextpage").empty();
                    $(".nextpage").append(result.data.page);
                    $("#pagerList").empty();
                    $("#pagerList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    var html = template('newsList', { newsList: result.data.newsList });
                    $("#pagerList").append(html);
                },
                error: function () { alert("网络错误"); }
            });
        }

        $(function () {
           $("#NewAdd").click(function () {
               if (confirm('确定提交此类别吗？')==false) {
                   return;
               }
                var text = $("#NewType").val();
                if (text.length == 0) {
                    alert("请输入新闻类型！");
                    return;
                }
                $.ajax({
                    url: "/admin/message/AddTypeName?NewTypeName=" + text,
                    type: "POST",
                    success: function (data) {
                        alert(data.msg);
                    }
                })
            })
        }
    )
       
            
        $(".del").click(function () {
               if (confirm('确定提交此类别吗？') == false) {
                   return;
               }
               var ID = $(".del").attr("id");
               $.ajax({
                   url: "/Admin/Message/UpdTypeName?ID=" + ID + "&&Type=0",
                   type: "POST",
                   success: function (data) {
                       alert(data.msg);
                   }
               })
           })
       

    </script>
    <script id="newsList" type="text/html">
        //template js模板
        {{each newsList as rmodel}}
        <tr>
            <td align="center">{{rmodel.iD}}</td> 
            <td align="center">{{rmodel.newTypeName}}</td>
            <td align="center">{{rmodel.createTime}}</td>
            <td align="center">

                <a href="javascript:void(0);" class="easyui-linkbutton sure" iconcls="icon-edit" id="{{rmodel.iD}}">编辑</a>
                <a href="javascript:void(0);" class="easyui-linkbutton del" iconcls="icon-no" id="{{rmodel.iD}}">删除</a>

            </td>
        </tr>

        {{/each}}
    </script>
}
